html { height: 100% }
body { height: 100%; margin: 0; padding: 0; position:relative; }
#map-canvas { height: 100%; }
.controls-bg {
	position: absolute;
	z-index: 9999;
	top: 0px;
	left: 0px;
	background:#fff;
	width:100%;
}
.slider-container {
	width:40%;
	float:left;
	padding:50px;
}
.button-container {
	padding:30px;
	float:right;
}